/* Override global theme constants or define new ones here */
.canChinhSoCauDaTraLoi {
        color: red;
        font-size: 20px !important;
        margin: auto;
        font-weight: bold;
}
.soCauTraLoi {
    font-size: 18px !important;
    margin: auto;
    font-weight: bold;
}
.containerCauHoi {
    padding-left: 80px;
    padding-top: 100px;
}
.thoiGian {
    color: red;
    font-size: 15px;
}
.textThoiGian {
    font-size: 15px;
}
.dapAn {
    padding-top:20px;
    padding-left: 10px;
}
.containerButton {
    padding-top: 100px;
}
.buttonNopBai {
    background-color: yellow !important;
}
.buttonTiepTheo {
    background-color: #3399FF!important;
}
.buttonExcel {
    background-color: #3CB371 !important;
}
/* Override global theme constants or define new ones here */